.container {
  flex: 1;
  background-color: var(--secondary-gray);
  display: flex;
  flex-direction: column;
}

.emptySearch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 20px;
  font-weight: 500;
  color: var(--main-white);
}

.mainSection {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.containerResults {
  margin: 20px;
  flex: 1;
}

.resultsInfo {
  background-color: var(--main-blue);
  color: var(--main-gray);
  text-align: center;
}

.resultsInfo span {
  font-weight: 800;
}

.containerPagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 25px 0 25px 0;
}

.containerPagination button {
  background-color: var(--main-blue);
  padding: 10px 20px 10px 20px;
  color: var(--main-gray);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

.containerPagination button:active {
  background-color: var(--main-white);
}

.containerPagination button:disabled {
  background-color: gray;
}


@media only screen and (min-width: 768px) {
  /* For tablet: */

  .containerResults {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 20px 10px 20px 10px;
  }
}

@media only screen and (min-width: 1280px) {
  /* For desktop: */

  .emptySearch {
    font-size: 30px;
  }

  .containerResults {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 20px 100px 20px 100px;
  }

  .loader {
    width: 100px;
    height: 100px;
  }

  .loader::after {
    width: 80px;
    height: 80px;
  }
}
